h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 40px;
}

body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Otomanopee One', sans-serif;
    margin: 5%;
}

.text-color{
    color:orangered;
}
.flex-container{
    display: flex;
}
.half img{
      width: 70%;
      padding-right: 10%;
      text-align: right;
}
.margin{
    margin: 5% 10%;
    padding-right: 2%;
}
.full-screen img{
    padding: 5%;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 179, 8), tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 400;
}
.right-side{
    text-align: right;
    margin: 5% 10%;
    padding-left: 10%;
    
}
.about{
    padding-right: 30%;
}
.male img{
    width: 100%;
    padding-left: 10%;
    text-align: left;
    height: 90%;      
}
.button2{
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 179, 8), tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 400;
    margin-right: 23%;
}  
.sec2{
    background-image: url(images/frame1.png);
    background-repeat: no-repeat;
    text-align: center;
    
}
.recipe{
    text-align: center;
}
section{
    display: flex;
    
}
.border{
    border-radius: 10%;
}
.resize img{
    width: 100%;
    height: 70%;
    display: flex;
}
.gap{
    width: 33%;
}
.resize{
    display: flex;
    gap: 3%;
   
}
.title{
    text-align: center;
}
.des{
    text-align: center;
}
.shadow{
    width: 40%;
    margin-left: 5%;
    box-shadow: 25px 35px 55px gray;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5%;
}






